.home-wrapper {
  padding: 2rem;
}

.search-input {
  padding: 10px 16px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto 2rem auto;
  display: block;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.profile-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}
